//main: style.less
// @colDark1: rgb(44, 44, 42);
// @colDark2: rgb(62, 62, 65);
// @colDark3: rgb(84, 84, 90);
// @colGreen: rgb(0, 255, 40);
// @colSand: rgb(255, 200, 0);
// @colBlue: rgb(0, 200, 255);
// @colMagenta: rgb(255, 30, 120);
// @colGainsboro: rgb(220, 220, 220);
// @colGainsboro2: rgb(200, 200, 200);

@colForeground: #beb4b4;
@colBackground: #1c1a1a;
@colcursorColor: #beb4b4;
@colBlack1: #262424;
@colBlack2: #444040;
@colRed1: #c0392b;
@colRed2: #e74c3c;
@colGreen1: #27ae39;
@colGreen2: #2ecc55;
@colYellow1: #eca30f;
@colYellow2: #ffc30c;
@colBlue1: #295dc1;
@colBlue2: #2e7ef2;
@colMagenta1: #8a37ad;
@colMagenta2: #a156d7;
@colCyan1: #169e9e;
@colCyan2: #1bbbc4;
@colWhite1: #867c7c;
@colWhite2: #aca2a2;

@colBackground1: @colBackground;
@colBackground2: #262424;
@colBackground3: #302e2e;
@colFont: @colForeground;
