//main: style.less
.content {
  float: left;
  width: 80%;
  height: auto;
  //margin-top: 30px;
  animation-name: content;
  animation-duration: @animduration;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  ul {
    list-style-type: none;
    padding-left: 15px;
    li {
      padding-left: 1em;
      text-indent: -1em;
      &:before {
        content: "\25A0";
        padding-right: 5px;
      }
    }
  }
  ol {
    padding-left: 34px;
  }
}


@keyframes content {
  from { opacity: 0; }
  to { opacity: 100; }
}
