<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style{{page.color}}.css"/>
	{% for js in page.javascript %}
	<script type="text/javascript" src="{{site.baseurl}}{{js}}"></script>
	{% endfor %}
</head>
<body>
<img class="wallpaper" src="{{site.baseurl}}/img/black.jpg"></img>
<nav class="leftbar" id="nav">
{% include nav.html %}
</nav>
<div class="leftoffset">
	<div class="leftbox"></div>
	<div class="triangle"></div>
</div>
<article id="content">
<h1>{{page.caption}}</h1>
{{content}}
</article>
</div>
<script type="text/javascript">resetbar();</script>
</body>
</html>
