<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>{{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style{{page.color}}.css"/>
	<script type="text/javascript" src="{{site.baseurl}}/js/resetbar.js"></script>
</head>
<body>
<nav class="leftbar" id="nav">
{% include nav.html %}
</nav>
<div class="leftoffset">
	<div class="leftbox"></div>
	<div class="triangle"></div>
</div>
<div class="content">
{{content}}
</div>
<script type="text/javascript">resetbar();</script>
</body>
</html>
